# python-dotenv
# langchain
# langchain-openai
# langchain-nomic
# langchain-community
# langchain_huggingface
# sentence_transformers
# langchainhub
# langchain-text-splitters
# langgraph
# openai
# faiss-cpu
# wheel
# ollama
# chromadb
# bs4
# flask
# pydantic
# pdfplumber
# streamlit
# gradio
# tavily-python 
# nomic[local]